<div class="columns align-items-center">
  <div class="column is-1">
    <% @order.order_items.each do |item| %>
     </div>
     <div class="column is-2">
       <figure class="is-96x96 image">
         <%= image_tag(item.product.image) %>
       </figure>
     </div>
     <br>
     <div class="column is-9">
       <strong><%= item.product.name %></strong>
         <div class="column is-3 has-text-right">
           <strong class="f4"><%= number_to_currency(item.product.price.to_f) %></strong>
         </div>
       </div>
     </div>

       <div class="column is-9 has-text-right">
        <%= link_to 'Remove Item', method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small f4" %>
       </div>
 
    <% end %>
  </div>
</div>

<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
  <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"amount":{"currency_code":"USD","value":1}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

            // Show a success message within this page, e.g.
            const element = document.getElementById('paypal-button-container');
            element.innerHTML = '';
            element.innerHTML = '<h3>Thank you for your payment!</h3>';

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>





